.portfolio-card {
  --background: var(--ion-color-light);
  //text-decoration-color: var($root, primary, base);
  min-height: 55vh;

  ion-title {
    text-decoration-color: var(--ion-color-dark);
    font-weight: bold;
  }

  .card-image-holder {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .card-description {
  }
}
