<ion-card no-padding class="portfolio-card">
    <ion-grid>
        <ion-row class="card-header">
            <ion-img *ngIf="project.icon" [src]="getImageIcon(project.icon)" class="car-icon"></ion-img>
            <ion-label class="card-title">
                {{project.title}}
            </ion-label>
        </ion-row>
        <ion-row class="card-image-holder" *ngIf="project.image">
            <img src="{{getImageURL(project.image)}}" alt="./assets/shapes.svg">
        </ion-row>
        <ion-row class="card-description">
            <p style="margin-bottom: 2rem;white-space:pre-wrap;">{{project.description}}</p>
        </ion-row>
    </ion-grid>
</ion-card>
