.portfolio-card {
  margin: 0 0 5vh 0 !important;
  padding: 1.3vh !important;
  --background: var(--ion-color-light);
  //text-decoration-color: var($root, primary, base);
  height: 100% !important;
  min-width: 40vh;

  .card-header {
    padding: 0 0 2vh 0;

    .car-icon {
      padding: 0;
      margin: 0;
      height: 6vh;
      width: 7vh;
    }

    .card-title {
      text-decoration-color: var(--ion-color-dark);
      font-size: 1.2em !important;
      font-weight: bold;
      display: flex;
      justify-content: flex-start; /* align horizontal */
      align-items: flex-end; /* align vertical */
      margin: 0;
      padding: 0;
      white-space: pre-wrap;
    }
  }

  .card-image-holder {
    margin: 10px 0 10px 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-description {
  }
}
