<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact Jonathan Klopper</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item href="https://www.linkedin.com/in/jonathan-klopper/">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Linkedin</ion-label>
        </ion-item>
        <ion-item href="https://github.com/njdwklopper">
            <ion-icon slot="start" color="medium" name="git-branch"></ion-icon>
            <ion-label>Git-Hub</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
