<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Jonathan (Natie) Klopper
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <ion-card class="welcome-card">
        <div class="back-image">
            <ion-avatar class="mug-img">
                <img src="/assets/mug.jpeg">
            </ion-avatar>
            <img src="/assets/header.jpg">
        </div>
        <ion-card-content>
            <p>
                <strong>
                    Software Engineer with over 13 years’ experience within in the digital mobile and web space.<br/>
                </strong>
                <br/><br/><strong>Enjoys:</strong>
                <br/>
            <li>
                Android, Spring-boot, Ionic 4, Angular and even iOS.<br/>
            </li>
            <li>
                Java, Kotlin and Typescript
            </li>
            <li>
                Practicing Unity Development
            </li>
            <li>
                Rescuing Drop-bears
            </li>
            <li>
                Music production on FL Studio and Bitwig.
            </li>
            </p>
        </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        <ion-item href="/portfolio/">
            <ion-icon slot="start" color="medium" name="paper"></ion-icon>
            <ion-label>Portfolio</ion-label>
        </ion-item>
        <ion-item href="/list/">
            <ion-icon slot="start" color="medium" name="list"></ion-icon>
            <ion-label>Skills List</ion-label>
        </ion-item>
        <ion-item href="https://www.linkedin.com/in/jonathan-klopper/">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Linkedin</ion-label>
        </ion-item>
        <ion-item href="https://github.com/njdwklopper">
            <ion-icon slot="start" color="medium" name="git-branch"></ion-icon>
            <ion-label>Git-Hub</ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<!--<ion-item href="/list/" lines="none" no-padding no-margin>-->
<!--<ion-icon slot="start" color="medium" name="book"></ion-icon>-->
<!--<ion-label no-padding no-margin>Skills List</ion-label>-->
<!--</ion-item>-->
