<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Jonathan Klopper
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <ion-card class="welcome-card">
        <div class="back-image">
            <ion-avatar class="mug-img" >
                <img src="/assets/mug.jpeg">
            </ion-avatar>
            <img src="/assets/header.jpg">
        </div>
        <ion-card-content>
            <p><strong>Software Engineer within the mobile space for over 13 years and has worked in a broad range of industry, such as gaming, gambling, banking/payments, medical, social media and even television entertainment.</strong>
                <!--<ion-item href="/list/" lines="none" no-padding no-margin>-->
                    <!--<ion-icon slot="start" color="medium" name="book"></ion-icon>-->
                    <!--<ion-label no-padding no-margin>Skills List</ion-label>-->
                <!--</ion-item>-->
                <br/><br/><strong>Key technologies:</strong>
                <br>Java, Kotlin, Typescript/Js, Spring-boot, Any OS, Pandas
                <br>
                <br><strong>Android Specialization:</strong>
                <br>(Responsive native front end development)
                <br>
                <br>⦁ Great effort goes into in quality, responsive and positive client UX/UI experiences.
                <br>⦁ High quality Software Development; <strong>SOLID</strong>, well test covered Code.
                <br>
                <br>Problem solver, FAST learner. Self-taught Ionic Angular within a very short period and still applied
                clean well tested code.
            </p>
            <br/>
            <p><strong>(Still in development, created on 21 Feb 2019)</strong>
        </ion-card-content>
    </ion-card>
    <!--<ion-list lines="none">-->
        <!--<ion-item href="/portfolio/">-->
            <!--<ion-icon slot="start" color="medium" name="book"></ion-icon>-->
            <!--<ion-label>Portfolio</ion-label>-->
        <!--</ion-item>-->
    <!--</ion-list>-->
</ion-content>
