.welcome-card {
  position: relative;
  display: inline;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.back-image {
  max-height: 220px;
  margin: 13px;
  position: relative;
  overflow: hidden;
}

.mug-img {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
