.welcome-card {
  position: relative;
  display: inline;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.back-image{  max-height: 45vh;
  margin: 13px;
  position: relative;
  overflow: hidden;
}

.mug-img {
  max-height: 17vh;
  max-width: 15vh;
  position: absolute;
  //top: 3%;
  left: 1%;
  bottom: 3%;
}
