<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jonathan Klopper's Github Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="github-page">
  <ion-grid wrap-reverse>
    <ion-label class="github-click-label">Click on any of the cards to view the GitHub Project...</ion-label>
    <ion-row>
      <ion-col *ngFor="let project of projects">
        <app-github-item [project]="project"></app-github-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
