page-portfolio {
  justify-content: center !important;

  .portfolio-page {
  }

  .portfolio-card {
    background: color($colors, light, base);
    text-decoration-color: color($colors, primary, base);
  }
}
